<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="haha" class="com.test.mybatis.bean.User">
        <property name="name" value="lisi"></property>
        <property name="age" value="18"></property>
    </bean>

    <bean id="hehe" class="com.test.mybatis.bean.Pet">
        <property name="name" value="jerry"></property>
    </bean>

    <!--默认事务管理器看引入的依赖-->
<!--    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">-->
<!--        <property name="dataSource" ref="dataSource" />-->
<!--    </bean>-->

</beans>
